* {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
}

#slider {
    background-image: url('/assets/img/pexels-craig-adderley-1563356.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 20px;
    height: 700px;
}

.my-10 {
    margin-top: 10rem !important;
    margin-bottom: 10rem !important;
}

.translate-50 {
    transform: translate(-50%, -50%);
}

.a-hover:hover {
    text-decoration: underline !important;
    cursor: pointer;
}

#input-search::placeholder {
    color: var(--bs-tertiary-color);
}

.form-select:focus {
    box-shadow: none;
}
